// component css goes here
.header{
    background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
    color: #fff;
    overflow: hidden;
    padding: 10px;
    margin: -10px;
    margin-bottom: 10px;
}
